.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 65px;
}
.movie-list-container-wrapper {
  padding: var(--padding-content);
  box-sizing: border-box;
}

.movie-list-container{
    padding-bottom: 50px;
}
.details {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding: 15px;
  padding-left:20px;
  box-sizing: border-box;
}
.genre {
  color: var(--dark-blue);
  /* font-weight: 900;
    font-size: larger; */
}
.see-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
p {
  margin: 0;
  font-weight: 900;
}
/* .icon{
    position: relative;
    top:0px
} */
