<div class="genre-catalog">
  <div class="back" (click)="backClick()">
    <span class="material-symbols-outlined"> arrow_left_alt </span>
    Back
  </div>
  
  <div class="extras">
  <h2 class="genre">Results for "{{ searchValue }}"
  </h2>
  <div class="filter-wrapper">
    <div class="genre-filter">
     <app-filter [filterData]="genreFilter" (filterEvent)="genreFilterChanged($event)"></app-filter>
    </div>
    <div class="search-filter">
     <app-filter [filterData]="sortFilter" (filterEvent)="sortFilterChanged($event)"></app-filter>
    </div>
   </div>
  </div>


  <app-movie-grid [movies]="searchedMovies"></app-movie-grid>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</div>

