.movie-detail-container {
  padding: var(--padding-content);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
  background-position: right;
}
.details {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 20px;
  font-weight: 400;
  row-gap: 15px;
  box-sizing: border-box;
}
h1 {
  font-weight: bolder;
  font-size: 40px;
}

p {
  margin: 0;
}

.other-details {
  display: flex;
  flex-direction: row;
  color: var(--grey);
  column-gap: 15px;
  font-weight: 800;
}

.genres {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.genres a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: row;
  column-gap: 15px;

  box-sizing: border-box;
}

.buy button {
  width: 150px;
  height: 50px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;

  /* border: 3px solid var(--black); */

  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.buy button:hover {
  cursor: pointer;

  color: var(--white);
  background-color: var(--black);
  border: 3px solid var(--white);
}
.circle button {
  color: var(--white);
  background-color: rgb(78, 80, 83);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  text-align: center;
  transition: all 0.3s ease;
}
.circle button:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
  /* width: 60px;
  height: 60px; */
  transform: scale(1.25);
}
.trailer-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trailer-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.share-container {
  min-height: 100px;
  width: 403px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 15px;
  flex-direction: column;
  color: var(--black);
}

.share-container .title {
  width: 100%;
  margin: 0px;
  height: 35px;
}

.share-container h4 {
  margin: 0;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.trailer-container span {
  display: block;
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 99999;
  cursor: pointer;
}
.share-container span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.more-details-container {
  padding: var(--padding-content);
  font-size: 20px;
}
.more-details ul,
li {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}

.more-details-title{
  font-weight: bold;
  text-transform: capitalize;
}
.more-details-value{
  color: var(--grey);
  font-size: 20px;
  font-weight: 600;
}
li{
  margin-bottom: 15px;
}
.more-details h5{
  width: 100%;
  text-align: center;
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 23px;
}

@media screen and (max-width: 1024px) {
  .movie-detail-container {
    background-size: cover;
    background-position: center;
    object-fit: fill;
    padding: var(--padding-content-ipad);
  }
  .details {
    width: 100%;
  }
  .other-details {
    color: var(--white);
  }
  .more-details-container{
    padding: var(--padding-content-ipad);
  }
}

@media screen and (max-width: 767px) {
  .movie-detail-container, .more-details-container {
    padding: var(--padding-content-mobile);
  }
}
