<div class="catalog">
  <div class="movie-list-container-wrapper">
    <div
      class="movie-list-container"
      *ngFor="let genreMovies of moviesByGenreList"
    >
      <div class="details">
        <h2 class="genre">{{ genreMovies.genre }}</h2>
        <a class="see-more" [routerLink]="'/catalog/' + genreMovies.genre|lowercase">
          <p>See more</p>
          <span class="material-symbols-outlined icon"> chevron_right </span>
        </a>
      </div>
      <app-movie-grid [movies]="genreMovies.movies"></app-movie-grid>
    </div>
  </div>
</div>
