<div class="header" [class]="!isLoggedIn ? 'mobile-hidden' : ''">
  <a [routerLink]="['/catalog']"
    ><span class="logo">
      <b>movie verse</b>
    </span></a
  >
  <ul *ngIf="isLoggedIn" class="header-list">
    <li class="list-item">
      <a [routerLink]="['/catalog']" [routerLinkActive]="['active']">
        <div class="icon">
          <lucide-icon name="home"></lucide-icon>
          <span> Home </span>
        </div>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/cart']" [routerLinkActive]="['active']">
        <div class="icon">
          <lucide-icon name="shopping-bag"></lucide-icon>
          <span> Cart </span>
        </div>
      </a>
    </li>
    <li class="list-item">
      <a [routerLink]="['/vault']" [routerLinkActive]="['active']">
        <div class="icon">
          <lucide-icon name="library"></lucide-icon> <span> Vault </span>
        </div>
      </a>
    </li>
    <li class="list-item search">
      <!-- <div class="searchBox">
        <form action="">
          <input type="text" name="" id="" class="searchInput" />
          <button class="searchButton"><lucide-icon name="search"></lucide-icon></button>
        </form>
      </div> -->

      <div class="icon" (click)="showSearch = !showSearch">
        <lucide-icon name="search" *ngIf="!showSearch"></lucide-icon>
        <lucide-icon name="x" *ngIf="showSearch"></lucide-icon>
      </div>
      <div class="search-wrapper" *ngIf="showSearch">
        <form class="search-form" [class]="inputFocused ? 'form-focus' : ''">
          <label class="search-icon">
            <lucide-icon name="search"></lucide-icon>
          </label>
          <input
            type="search"
            name="search"
            id=""
            class="searchInput"
            placeholder="Search"
            (focus)="inputFocused = true"
            (blur)="inputFocused = false"
            [(ngModel)]="search"
            (input)="searchChanged()"
            (keyup.enter)="loadSearchPage()"
          />
        </form>
        <div class="search-list-wrapper" *ngIf="topSearchedMovies.length > 0">
          <ul class="search-list">
            <li class="search-item" *ngFor="let movie of topSearchedMovies">
              <a
                [routerLink]="[
                  '/details/',
                  movie.title.replaceAll(' ', '-').replaceAll('/', '-')
                ]"
                [queryParams]="{ movieId: movie.movieId }"
                (click)="showSearch = false"
                >{{ movie.title }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <span class="profile" *ngIf="isLoggedIn">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="user">
      <g color="#000">
        <path
          style="isolation: auto; mix-blend-mode: normal"
          fill="#c2e4f8"
          d="M10.571 1040.362A2.571 2.571 0 0 1 8 1042.934a2.571 2.571 0 0 1-2.571-2.572A2.571 2.571 0 0 1 8 1037.791a2.571 2.571 0 0 1 2.571 2.571z"
          overflow="visible"
          transform="translate(0 -1036.362)"
        ></path>
        <path
          style="
            line-height: normal;
            text-indent: 0;
            text-align: start;
            text-decoration-line: none;
            text-decoration-style: solid;
            text-decoration-color: #000;
            text-transform: none;
            block-progression: tb;
            isolation: auto;
            mix-blend-mode: normal;
          "
          fill="#249fe6"
          d="M8 1037.361c-1.652 0-3 1.349-3 3 0 1.652 1.348 3 3 3s3-1.348 3-3c0-1.651-1.348-3-3-3zm0 .858c1.189 0 2.143.954 2.143 2.142A2.138 2.138 0 0 1 8 1042.506a2.138 2.138 0 0 1-2.143-2.145c0-1.188.954-2.142 2.143-2.142zm0 6.143c-3.828 0-7 2.636-7 6h1c0-2.73 2.626-5 6-5s6 2.27 6 5h1c0-3.364-3.172-6-7-6z"
          font-family="sans-serif"
          font-weight="400"
          overflow="visible"
          transform="translate(0 -1036.362)"
        ></path>
      </g>
    </svg>
    <div class="profile-dropdown">
      <ul>
        <li class="profile-link">
          <a routerLink="/profile"> Profile </a>
        </li>
        <li (click)="logoutClicked()">Logout</li>
      </ul>
    </div>
  </span>
</div>

<app-dialog
  [dialogText]="dialogText"
  (okEvent)="logout()"
  (cancelEvent)="showDialog = false"
  *ngIf="showDialog"
></app-dialog>
