/* You can add global styles to this file, and also import other style files */
/* @import '~ngx-sharebuttons/themes/default'; */
:root {
  --dark-blue: #1a98ffff;
  --light-blue: #0f79afff;
  --navy-blue:#191E25;
  --white: #ffffff;
  --grey: #9f9f9fff;
  --dark-black: #00050d;
  --light-black:#222222;
  /* 003459 */

  /* CSS HEX */
  --black: #000000ff;
  --white: #ffffffff;
  --cadet-gray: #9f9f9fff;
  --honolulu-blue: #0f79afff;
  --padding-content: 20px 65px ;
  --padding-content-mobile: 15px;
  --padding-content-ipad: 18px; /*767 and below*/
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--dark-black);
  color: var(--white);
  margin: 0px;
  padding: 0px;
}




  
        /* Media Query for Mobile Devices */
        /* @media (max-width: 480px) {
         
      }
         */
      /* Media Query for low resolution  Tablets, Ipads */
      /* @media (min-width: 481px) and (max-width: 767px) {
        
      } */
        
      /* Media Query for Tablets Ipads portrait mode */
      /* @media (min-width: 768px) and (max-width: 1024px){

      } */
        
      /* Media Query for Laptops and Desktops */
      /* @media (min-width: 1025px) and (max-width: 1280px){
 
      }
         */
      /* Media Query for Large screens */
      /* @media (min-width: 1281px) {
         
      } */