.forgot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-content);
  box-sizing: border-box;
  margin: 20px 0px;
}
.forgotForm {
  width: 480px;
  min-height: 340px;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(34, 34, 34, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(34, 34, 34, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

input {
  display: block;

  width: 400px;
  background-color: transparent;
  border: 1px solid #373839;
  outline: none;
  padding: 15px;
  color: white;
  height: 40px;
  border-radius: 7px;
  box-sizing: border-box;
  caret-color: var(--light-blue);
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
}

.error {
  display: block;
  color: var(--light-blue);
  width: 400px;
  margin: 3px;
  box-sizing: border-box;
  display: flex;
}
h2 {
  font-size: 45px;
  margin: 0px;
  text-align: center;
  color: var(--light-blue);
  text-transform: capitalize;
}
p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.forgotButton,.loginButton {
  background-color: var(--light-blue);
  color: var(--white);
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  box-sizing: border-box;
}
.forgotButton:disabled {
  cursor: no-drop;
  background-color: #678cc0;
}
input:focus {
  border-color: var(--light-blue);
}



input[type="number"] {
  /* width: 40px; */
  border: 1px solid var(--light-blue);
  /* text-align: center; */
  border-radius: 3px;
  letter-spacing: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.eye {
  margin: 2px;
  color: var(--grey);
  display: inline-block;
  cursor: pointer;
}
.icon {
  transform: scale(0.75, 0.5);
  position: relative;
  top: 7px;
}
.loginButton {
  background-color: var(--white);
  color: var(--dark-black);

}

@media screen and (max-width: 481px) {
  .forgotForm {
    width: 350px;
    /* min-height: 430px; */
  }
  input,
  .forgotButton,
  .loginButton,
  .error {
    width: 270px;
  }

  h2 {
    font-size: 30px;
  }
}
