<div class="forgot-container">
  <div class="forgotForm_email forgotForm" *ngIf="formToShow.email">
    <h2>forgot password</h2>
    <p>
      Please enter your registered email. An OTP will be sent to this email.
    </p>
    <form action="" [formGroup]="forgotForm_email">
      <div class="email">
        <input
          type="email"
          name=""
          id=""
          placeholder="Email ID"
          formControlName="email"
        />
        <span
          class="error"
          *ngIf="
            forgotForm_email.controls['email'].errors &&
            forgotForm_email.controls['email'].dirty
          "
        >
          email is invalid
        </span>
      </div>
      <button
        class="forgotButton"
        (click)="sendOtp()"
        [disabled]="
          forgotForm_email.invalid ||
          forgotForm_email.controls['email'].pristine
        "
      >
        Send Otp
      </button>
    </form>
    <p>Remember Passoword?</p>
    <button class="loginButton" [routerLink]="['/login']">Login</button>
  </div>

  <div class="forgotForm_otp forgotForm" *ngIf="formToShow.otp">
    <h2>forgot password</h2>
    <p>Please enter the OTP sent to your registered email.</p>
    <form action="" [formGroup]="forgotForm_otp">
      <div class="otp">
        <input
          type="number"
          name=""
          id=""
          placeholder="0000"
          formControlName="otp"
          class="otp"
        />

        <span
          class="error"
          *ngIf="forgotForm_otp.invalid && forgotForm_otp.dirty"
        >
          OTP must be of four digits
        </span>
      </div>
      <button
        class="forgotButton"
        (click)="verifyOtp()"
        [disabled]="forgotForm_otp.invalid || forgotForm_otp.pristine"
      >
        Verify Otp
      </button>
    </form>
    <p>Remember Passoword?</p>
    <button class="loginButton" [routerLink]="['/login']">Login</button>
  </div>

  <div class="forgotForm_password forgotForm" *ngIf="formToShow.password">
    <h2>forgot password</h2>
    <p>Please set your password. Use it for logging in.</p>
    <form action="" [formGroup]="forgotForm_password">
      <div class="password">
        <input
          [type]="show ? 'text' : 'password'"
          name=""
          id=""
          placeholder="Password"
          formControlName="password"
        />
        <span
          class="error"
          *ngIf="
            forgotForm_password.controls['password'].errors &&
            forgotForm_password.controls['password'].dirty
          "
        >
          password must contain atleast one capital letter, one small letter,
          one digit, one special character and it must have atleast 8
          characters.
        </span>
      </div>
      <div class="confirmPassword">
        <input
          [type]="show ? 'text' : 'password'"
          name=""
          id=""
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <span (click)="show = !show" class="eye">
          <span class="material-symbols-outlined icon">
            {{ show ? "visibility_off" : "visibility" }}
          </span>
          {{ show ? "hide" : "show" }} password
        </span>
        <span
          class="error"
          *ngIf="
            forgotForm_password.controls['confirmPassword'].dirty &&
            forgotForm_password.controls['password'].value !=
              forgotForm_password.controls['confirmPassword'].value
          "
        >
          password and confirm password should match.
        </span>
      </div>
      <button
        class="forgotButton"
        (click)="updatePassword()"
        [disabled]="
          forgotForm_password.invalid ||
          forgotForm_password.untouched ||
          forgotForm_password.controls['password'].value !=
            forgotForm_password.controls['confirmPassword'].value
        "
      >
        Update Password
      </button>
    </form>
    <p>Remember Passoword?</p>
    <button class="loginButton" [routerLink]="['/login']">Login</button>
  </div>

</div>
