<div class="cart-container">
  <h1 class="title">My Cart</h1>
  <div class="content">
    <div class="cartList">
      <app-cart-item
        *ngFor="let cartItem of cart$ | async"
        [cartItem]="cartItem"
      ></app-cart-item>
    </div>
    <div class="price-container">
      <div class="price-details">
        <div class="keys">
          <span class="header">total</span>
          <span>actual price</span>
          <span>discount</span>
        </div>
        <div class="values">
          <span class="header">$ {{ total }}</span>
          <span>$ {{ actualPrice }}</span>
          <span>$ {{ discount }}</span>
        </div>
      </div>
      <div class="checkout">
        <button (click)="createOrder()">{{ "checkout" | uppercase }}</button>
      </div>
    </div>
  </div>
</div>
