<div class="cart-container">
  <h1 class="title">My Cart</h1>
  <div class="content" *ngIf="(cart$ | async)?.length != 0; else cartEmpty">
    <div class="cartList">
      <app-cart-item
        *ngFor="let cartItem of cart$ | async"
        [cartItem]="cartItem"
      ></app-cart-item>
    </div>
    <div class="price-container">
      <div class="price-details">
        <div class="keys">
          <span class="header">total</span>
          <span>actual price</span>
          <span>discount</span>
        </div>
        <div class="values">
          <span class="header">$ {{ total | number: '1.0-2' }}</span>
          <span>$ {{ actualPrice  | number: '1.0-2' }}</span>
          <span>$ {{ discount |  number: '1.0-2' }}</span>
        </div>
      </div>
      <div class="checkout">
        <button (click)="createOrder()">{{ "checkout" | uppercase }}</button>
      </div>
    </div>
  </div>

  <ng-template #cartEmpty>
    <div class="empty">
      <img
        src="../../../../../assets/empty-cart-3385483.png"
        alt=""
       
      />
      <h2>Your Cart is Empty</h2>
      <button routerLink="/catalog">Continue Browsing</button>
    </div>
  </ng-template>
</div>
